body {
    margin: 0;
}

header {
    background-color: #00ade1;
    text-align: center;
}

h1 {
    color: white;
}
.image-gallery {
    display: flex;
    justify-content: center;
}
.image {
    display: inline-block;
    height: 200px;
    width: 280px;
    padding: 8px;
    margin: 5px;
}